.customer-account-wrapper{
    
    margin-top: 50px;
    min-height: 500px;
}

.customer-account-content{
    width: 80%;
    margin: auto;
}

.customer-background-image{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/cleaner-customer-pages.jpeg');
    filter: blur(0px); 
}

.customer-account-title{
    background-color: rgba(220, 219, 219, 0.008); 
    /* border: 3px solid rgb(169, 218, 96); */
    border: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 520px;
    /* padding: 20px;  */
    text-align: center;
}

.customer-account-title{
    text-align: center;
}

.customer-list-of-bookings{
    text-align: center;
}

.customer-table {
    width:  100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px auto 20px;
    list-style: none;
    font-size: 20px;
}

td{
    width: 10%;
    height: 40px;
    border: 1px solid black;
    border-collapse: collapse; 
}
