.login-footer-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(169, 218, 96);
    height: 70px;
}
.list{
    list-style-type:none;
    text-decoration: none;
}