.booking-container {
    
    /* TEMPORARY */
    border: black solid;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
}

.booking-form {
    display: flex;
    justify-content: space-between;
}

#booking-form-section {
}