.completed-container {
    background: white;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.5rem;
    
}

.completed-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed-container table {
    border: 1px solid black;
    border-collapse: collapse;
}

.completed-container th, td {
    border: 1px solid black;
    padding: 8px;
}

.completed-container li {
    display: table-row;
}