*{
    box-sizing: border-box;
    font-family: "terfens"
}

.footer-container{
    background-color: rgb(169, 218, 96);
    height: 230px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

ul li{
    color: black;
    padding: 5px 10px 5px 10px;
}

ul li.list:hover{
    color: white;
}

.footer-list, .login-footer-list{
    list-style: none;
    text-decoration: none;
}

ul li{
    font-size: 17px;
    margin-bottom: 0px;
}

ul li.list-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-about{
    padding-top: 10px;
    width: 15%;
    text-align: center;
}

.footer-logo{
    font-family :fantasy;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.footer-logo:hover{
    transform: scale(1.1);
}

.footer-about-text{
  line-height: 20px;
  transition: all 0.5s ease-in-out;
}

.footer-about-text:hover{
    color:white;
} 

.vertical-line{
    border-left: 2px solid rgb(108, 106, 106);
    height: 120px;
    position: absolute;
    left: 25%;
    margin-left: -4px;
    margin-top: 50px;
}

