.contact-section-wrapper{
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    background-image: url('../../../assets/contact-us.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-title{
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.contact-card{
    padding-top: 40px;
    width: 34%;
    text-align: center;
}

.contact-text{
    text-shadow: 2px 2px white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.contact-text:hover{
    font-size: 22px;
}

i{
    height: 20px;
}

.vertical-line-1{
    border-left: 2px solid rgb(26, 154, 189);
    height: 100px;
    position: absolute;
    left: 33%;
    margin-top: 50px;
}

.vertical-line-2{
    border-left: 2px solid rgb(26, 154, 189);
    height: 100px;
    position: absolute;
    left: 66%;
    margin-top: 50px;
}


