.header-section-wrapper{
    width: 90%;
    min-height: 500px;
    display: flex; 
    justify-content: left;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/header-section.jpeg');   
}

.header-section-content-wrapper{
    height: 200px;
    width: 30%;
    margin: 30px 20px 20px 100px;  
    transition: all 0.8s ease-in-out;
}

.header-section-title{
    font-size: 40px;
    animation: fadeIn 5s;
}

.header-section-title:hover{
    text-shadow: 1px 1px white;
}

.header-section-text{
    line-height: 30px;
    animation: fadeIn 10s;
}

.header-section-welcome{
    font-size: 15px;
    font-weight: bold;
    color: white
}

.header-section-button{
    margin-top: 20px;
}

.header-section-button {
    background-color: rgb(245, 177, 51);
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
    
.header-section-button:hover{
    background-color: rgb(243, 125, 8);
    text-decoration: underline;
    color:black;
} 

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

