.newsletter-section-wrapper{
    height: 230px;
    width: 60%;
    text-align: center;
    margin: 20px auto;
    font-family: "terfens", sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/newsLetter.png');   
}

.newsletter-section-wrapper form{
    display: flex;
    justify-content: center;
}

.newsletter-section-wrapper h1{
    padding-top: 20px;
}

.newsletter-section-wrapper button{
    background-color: rgb(245, 177, 51);
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    width: 100px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    margin-bottom: 20px;
}

.newsletter-section-wrapper button:hover{
    background-color: rgb(243, 125, 8);
    color:black;
}

.newsletter-section-wrapper form input{
    width: 200px;
    height: 50px;
    max-width: 80%;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
}
